
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
   
    height: 100vh;
    overflow: hidden;
  }
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 5px 0;
    transition: all 0.3s ease;
    background-color: rgb(0, 0, 0);
  }
  .navbar.sticky{
    background: #000000;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  }
  .navbar .logo a{
    color: #fff;
    font-size: 30px;
    margin-left: 1rem;
    font-weight: 600;
    text-decoration: none;
  }
  .navbar .menu-list{
    display: inline-flex;
    margin-left: 63rem;
    margin-top: 1rem;
    
  }
  .menu-list li{
    list-style: none;
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-right: 1rem;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menu-list li a:hover{
    color: cyan;
  }
  .icon{
    width: 30px;
     margin-top: -6px;
    /*margin-left: 20px */
  }
  .username{
    color: white;
    font-size: 10px;
  }